---
const platform = "github";
const username = "tolerevo";
const xUserName = "dr_tole";
const fUserName = "diego.tolentino.125"
---

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>¡Sigueme en mis redes sociales <a href={`https://www.x.com/${xUserName}`}>X</a> <a href={`https://www.facebook.com/${fUserName}`}>Facebook</a>!</p>
</footer>